button {
  background-color: #72a4d4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  transition-duration: 0.4s;
}

button:hover {
background-color: #26527c;
color:white;
}
