h1 {
  text-align: center;
  padding: 20px;
  background-color: white;
  font-size: 3rem;
  color: #72a4d4;
  font-weight: bold;
}

#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  filter: blur(0.3rem);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  background: transparent;
}

#footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
}

/* FIXME this is kinda cringe */
#footer img {
  padding: 5%;
    width: 70%;
}

button {
  padding: 30px;
  font-size: 2rem;
  background: #72a4d4;
  width: 100%;
  border: none;
  border-radius: 10%;
  margin-bottom: 10%;
  color: white;
}

button:hover {
background-color: #26527c;
color:white;
}
